/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/Elements/Navigation/AppNavigation/Navbar.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styles.css */
.Navbar_navbar__Rmj1S {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.Navbar_navbar__Rmj1S ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Navbar_navbar__Rmj1S li {
  float: left;
}

.Navbar_navbar__Rmj1S li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid transparent; 
}

.Navbar_navbar__Rmj1S li a:hover {
  background-color: #000000;
  border-color: white; 
}



.Navbar_logo__VxVdh {
  height: 50px; 
  margin-right: auto;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/Layout/Layout.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/


/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/Pages/Home/dashboard.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_drop__zg8UB {
  left: 200px;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  top: 200px;
  position: fixed;
}
.dashboard_heading__ZSoz6 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
  }
  
.dashboard_Date__AIyF3{
  padding: 7px;
}
